{{/*
@component: arrow-turn-down-left (outline) Icon
@params:
  - class: CSS classes to apply to the SVG element (optional, default: "w-6 h-6 text-gray-500")
@examples:
  <!-- Basic usage with default classes -->
  {{ partial "icons/arrow-turn-down-left" . }}

  <!-- With custom size and color classes -->
  {{ partial "icons/arrow-turn-down-left" "w-8 h-8 text-blue-600" }}

  <!-- With responsive classes -->
  {{ partial "icons/arrow-turn-down-left" "w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8 text-indigo-500" }}
*/}}


<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24" 
    class="{{ if . }}{{ . }}{{ else }}w-6 h-6 text-gray-500{{ end }}"
    fill="none"
>
<path d="M7.49012 11.9996L3.74025 15.75M3.74025 15.75L7.49012 19.5004M3.74025 15.75H20.2397V4.49902" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
