{{/*
@component: italic (outline) Icon
@params:
  - class: CSS classes to apply to the SVG element (optional, default: "w-6 h-6 text-gray-500")
@examples:
  <!-- Basic usage with default classes -->
  {{ partial "icons/italic" . }}

  <!-- With custom size and color classes -->
  {{ partial "icons/italic" "w-8 h-8 text-blue-600" }}

  <!-- With responsive classes -->
  {{ partial "icons/italic" "w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8 text-indigo-500" }}
*/}}


<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24" 
    class="{{ if . }}{{ . }}{{ else }}w-6 h-6 text-gray-500{{ end }}"
    fill="none"
>
<path d="M5.24756 20.2457H9.05106M9.05106 20.2457H12.7474M9.05106 20.2457L14.9438 3.74414M14.9438 3.74414H11.2474M14.9438 3.74414H18.7473" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
