{{/*
@component: play (solid) Icon
@params:
  - class: CSS classes to apply to the SVG element (optional, default: "w-6 h-6 text-gray-500")
@examples:
  <!-- Basic usage with default classes -->
  {{ partial "icons/play-solid" . }}

  <!-- With custom size and color classes -->
  {{ partial "icons/play-solid" "w-8 h-8 text-blue-600" }}

  <!-- With responsive classes -->
  {{ partial "icons/play-solid" "w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8 text-indigo-500" }}
*/}}


<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24" 
    class="{{ if . }}{{ . }}{{ else }}w-6 h-6 text-gray-500{{ end }}"
    fill="currentColor"
>
<path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 5.65257C4.5 4.22644 6.029 3.32239 7.2786 4.00967L18.8192 10.357C20.1144 11.0694 20.1144 12.9304 18.8192 13.6428L7.2786 19.9901C6.029 20.6774 4.5 19.7733 4.5 18.3472V5.65257Z" fill="currentColor"/>
</svg>
