{{/*
@component: power (outline) Icon
@params:
  - class: CSS classes to apply to the SVG element (optional, default: "w-6 h-6 text-gray-500")
@examples:
  <!-- Basic usage with default classes -->
  {{ partial "icons/power" . }}

  <!-- With custom size and color classes -->
  {{ partial "icons/power" "w-8 h-8 text-blue-600" }}

  <!-- With responsive classes -->
  {{ partial "icons/power" "w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8 text-indigo-500" }}
*/}}


<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24" 
    class="{{ if . }}{{ . }}{{ else }}w-6 h-6 text-gray-500{{ end }}"
    fill="none"
>
<path d="M5.63604 5.63604C2.12132 9.15076 2.12132 14.8492 5.63604 18.364C9.15076 21.8787 14.8492 21.8787 18.364 18.364C21.8787 14.8492 21.8787 9.15076 18.364 5.63604M12 3V12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
