{{ define "main" }}

{{ partial "hero_default.html" . }}

{{ if eq (len .Pages) 0 }}
  <div class="wrapper text-center">
    <p class="text-xl font-semibold ">{{ i18n "no_posts_found" }}</p>
  </div>
{{ else }}



  {{ $paginator := .Paginate .Pages.ByDate.Reverse 60 }}

  <div class="wrapper grid grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2 xl:grid-cols-3">
    {{ range $paginator.Pages }}
      <div>
        {{ partial "components/cards/post_card_with_image.html" (dict "page" . "cardHeight" 540) }}
      </div>
    {{ end }}
  </div>
  <!-- Pagination -->
  {{ if gt $paginator.TotalPages 1 }}
    {{partial "components/pagination/pagination.html" $paginator }}
  {{ end }}
{{ end }}

{{ end }}
