{{/*
@component: CSS Assets Loader
@description: Processes and loads CSS assets with PostCSS/Tailwind processing, minification, and integrity hashing.
@params:
  None - this component handles CSS assets based on configuration in the theme.
@example:
  {{ partial "head/css.html" . }}
@note: This component processes main.css with PostCSS (for Tailwind CSS) and also loads additional CSS files like lazy-images.css and lazy-videos.css. In production, all CSS is minified and fingerprinted with integrity hashes.
*/}}

{{/* Process main.css with PostCSS (Tailwind) */}}
{{- $css := resources.Get "css/main.css" -}}
{{- $opts := dict "inlineImports" true -}}

{{/* Process with PostCSS */}}
{{- $postcss := $css | css.PostCSS $opts -}}

{{/* In production, minify and add integrity hash */}}
{{- $styles := $postcss | minify | fingerprint "sha512" -}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous">

{{/* Include other CSS files that don't need PostCSS processing */}}
{{- with resources.Get "css/lazy-images.css" }}
  {{- with . | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{- end }}
{{- end }}

{{- with resources.Get "css/lazy-videos.css" }}
  {{- with . | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{- end }}
{{- end }}


{{/*
  Load custom CSS files from the root project.
  These are loaded AFTER theme CSS files, so they will override theme styles
  with the same specificity. If theme styles use !important, you'll need to use
  !important in your custom CSS as well, or use more specific selectors.
*/}}
{{- with resources.Get "css/custom.css" }}
  {{- /* Minify first */ -}}
  {{- $min := . | minify -}}

  {{- /* Only fingerprint and include if there's actual content after minification */ -}}
  {{- if $min.Content -}}
    {{- $css := $min | fingerprint "sha512" -}}
    <link
      rel="stylesheet"
      href="{{ $css.RelPermalink }}"
      integrity="{{ $css.Data.Integrity }}"
      crossorigin="anonymous">
  {{- end -}}
{{- end -}}
