{{/*
@component: JavaScript Assets Loader
@description: Processes and loads JavaScript assets with minification and integrity hashing.
@params:
  None - this component handles JavaScript assets based on configuration in the theme.
@example:
  {{ partial "head/js.html" . }}
@note: This component loads main.js with build processing, minification, and fingerprinting with integrity hashes for security.
*/}}

{{- with resources.Get "js/main.js" }}
  {{- $opts := dict "minify" true }}
  {{- with . | js.Build $opts | fingerprint }}
    <script src="{{ .RelPermalink }}" integrity="{{- .Data.Integrity }}" crossorigin="anonymous"></script>
  {{- end }}
{{- end }}
