<!-- CTA Section -->
{{ $ctaHeading := .Params.ctaHeading | default (i18n "cta_default_heading") }}
{{ $showCTA := .Params.showCTA | default $ctaHeading }}

{{ if $showCTA }}
    {{ $ctaDescription := .Params.ctaDescription | default (i18n "cta_default_description") }}
    {{ $ctaPrimaryText := .Params.ctaPrimaryText | default (i18n "cta_default_primary_text") }}
    {{ $ctaPrimaryURL := .Params.ctaPrimaryURL | default (i18n "cta_default_primary_url") }}
    {{ $ctaSecondaryText := .Params.ctaSecondaryText | default (i18n "cta_default_secondary_text") }}
    {{ $ctaSecondaryURL := .Params.ctaSecondaryURL | default (i18n "cta_default_secondary_url") }}

    {{ partial "sections/cta/simple_centered_on_dark.html" (dict
    "heading" $ctaHeading
    "description" $ctaDescription
    "primaryCta" (dict
    "text" $ctaPrimaryText
    "url" $ctaPrimaryURL
    )
    "secondaryCta" (dict
    "text" $ctaSecondaryText
    "url" $ctaSecondaryURL
    )
    ) }}
{{ end }}