<!-- Hero Section with Split Image -->
{{ $eyebrow := .Params.eyebrow | default "" }}
{{ $title := .Params.title | default .Title | default "" }}
{{ $shortDescription := .Params.shortDescription | default .Params.description | default "" }}
{{ $typewriter := .Params.typewriter | default dict }}

{{ $image := .Params.image }}
{{ if not $image }}
    {{ if .Params.youtubeVideoID }}
        {{ $image = printf "https://img.youtube.com/vi/%s/hqdefault.jpg" .Params.youtubeVideoID }}
    {{ end }}
{{ end }}

{{ if .Params.youtubeVideoID }}
    {{ partial "sections/hero/split_with_youtube_video.html" (dict
    "heading" $title
    "description" (markdownify $shortDescription)
    "eyebrow" .Params.eyebrow
    "image" $image
    "videoTitle" (.Params.youtubeTitle | default .Params.title)
    "videoID" .Params.youtubeVideoID
    "typewriter" $typewriter
    ) }}
{{ else if and .Params.workspaceId .Params.chatbotId }}
    {{ partial "sections/hero/split_with_chatbot.html" (dict
    "heading" $title
    "description" (markdownify $shortDescription)
    "eyebrow" .Params.eyebrow
    "chatbotId" .Params.chatbotId
    "workspaceId" .Params.workspaceId
    "cta" (dict
    "primary" (dict "text" .Params.ctaPrimaryText "url" .Params.ctaPrimaryURL)
    "secondary" (dict "text" .Params.ctaSecondaryText "url" .Params.ctaSecondaryURL)
    )
    "typewriter" $typewriter
    ) }}
{{ else if $image }} {{/* Use the fetched image URL */}}
    {{ partial "sections/hero/split_with_image.html" (dict
    "heading" $title
    "description" (markdownify $shortDescription)
    "eyebrow"  (.Params.eyebrow | default (i18n "eyebrow") | default "")
    "image" $image
    "typewriter" $typewriter
    ) }}
{{ else }}
    {{ partial "sections/hero/simple_centered.html" (dict
    "heading" $title
    "description" (markdownify $shortDescription)
    "eyebrow"  (.Params.eyebrow | default (i18n "eyebrow") | default "")
    "typewriter" $typewriter
    ) }}
{{ end }}
