{{ $formId := .formId | default "" }}

{{ if $formId }}
<div class="flex justify-center w-full">
  <!-- Start of LiveAgent integration script: Contact form: FlowHunt Contact US -->
  <script type="text/javascript">
  (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.defer=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
  'https://support.ladesk.com/scripts/track.js',
  function(e){ LiveAgent.createForm('{{ $formId }}', e); });
  </script>
  <!-- End of LiveAgent integration script -->
</div>
{{ end }}
