{{- /*
  Usage in markdown:
  {{< banner-on-dark 
    title="GeneriCon 2023"
    message="Join us in Denver from June 7 – 9 to see what's coming next"
    url="#"
    isDismissable=true
    backgroundColor="bg-gray-900"
    textColor="text-white"
    dismissButtonColor="text-white"
  >}}
*/ -}}

{{- $title := .Get "title" | default "GeneriCon 2023" -}}
{{- $message := .Get "message" | default "Join us in Denver from June 7 – 9 to see what's coming next" -}}
{{- $url := .Get "url" | default "#" -}}
{{- $isDismissable := .Get "isDismissable" | default true -}}
{{- $backgroundColor := .Get "backgroundColor" | default "bg-gray-900" -}}
{{- $textColor := .Get "textColor" | default "text-white" -}}
{{- $dismissButtonColor := .Get "dismissButtonColor" | default "text-white" -}}

{{ partial "sections/banners/on_dark" (dict 
  "title" $title
  "message" $message
  "url" $url
  "isDismissable" $isDismissable
  "backgroundColor" $backgroundColor
  "textColor" $textColor
  "dismissButtonColor" $dismissButtonColor
) }}
