{{/* Simple Centered CTA Shortcode
Usage:
{{< cta-simple-centered 
  heading="Boost your productivity with our app!" 
  description="Discover how our app can help you achieve more in less time." 
  primaryCtaText="Sign Up Now" 
  primaryCtaUrl="/signup" 
  secondaryCtaText="Learn More" 
  secondaryCtaUrl="/learn-more" 
  primaryCtaColor="blue-600" 
  primaryCtaHoverColor="blue-500" 
>}}
*/}}
{{ $heading := .Get "heading" | default "Boost your productivity. Start using our app today." }}
{{ $description := .Get "description" | default "Incididunt sint fugiat pariatur cupidatat consectetur sit cillum anim id veniam aliqua proident excepteur commodo do ea." }}
{{ $primaryCtaText := .Get "primaryCtaText" | default "Get started" }}
{{ $primaryCtaUrl := .Get "primaryCtaUrl" | default "#" }}
{{ $secondaryCtaText := .Get "secondaryCtaText" | default "Learn more" }}
{{ $secondaryCtaUrl := .Get "secondaryCtaUrl" | default "#" }}
{{ $primaryCtaColor := .Get "primaryCtaColor" | default "indigo-600" }}
{{ $primaryCtaHoverColor := .Get "primaryCtaHoverColor" | default "indigo-500" }}

{{ $primaryCta := dict 
  "text" $primaryCtaText
  "url" $primaryCtaUrl
}}

{{ $secondaryCta := dict 
  "text" $secondaryCtaText
  "url" $secondaryCtaUrl
}}

{{ partial "sections/cta/simple_centered.html" (dict 
  "heading" $heading
  "description" $description
  "primaryCta" $primaryCta
  "secondaryCta" $secondaryCta
  "primaryCtaColor" $primaryCtaColor
  "primaryCtaHoverColor" $primaryCtaHoverColor
) }}
