{{/* Simple Header Shortcode */}}
{{/*
Usage:
{{< header-simple 
  heading="Welcome to Our Platform"
  description="Discover our range of products designed to make your life easier."
  bgColor="bg-gray-50"
  padding="py-16 sm:py-24"
  headingColor="text-blue-900"
  descriptionColor="text-gray-600"
  maxWidth="max-w-3xl"
>}}
*/}}

{{ $heading := .Get "heading" | default (.Get 0) | default "Support center" }}
{{ $description := .Get "description" | default (.Get 1) | default "Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat." }}
{{ $bgColor := .Get "bgColor" | default (.Get 2) | default "bg-white" }}
{{ $padding := .Get "padding" | default (.Get 3) | default "py-24 sm:py-32" }}
{{ $headingColor := .Get "headingColor" | default (.Get 4) | default "text-gray-900" }}
{{ $descriptionColor := .Get "descriptionColor" | default (.Get 5) | default "text-gray-500" }}
{{ $maxWidth := .Get "maxWidth" | default (.Get 6) | default "max-w-2xl" }}

{{ partial "layout/headers/simple.html" (dict 
  "heading" $heading
  "description" $description
  "bgColor" $bgColor
  "padding" $padding
  "headingColor" $headingColor
  "descriptionColor" $descriptionColor
  "maxWidth" $maxWidth
) }}
