{{/* Lazy Loading Image Shortcode */}}
{{/*
Usage:
{{< lazyimg 
  src="/images/product-image.jpg"
  alt="Product image description"
  class="rounded-lg shadow-md"
  id="product-image"
  width="640"
  height="480"
>}}
*/}}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $class := .Get "class" | default "" }}
{{ $id := .Get "id" | default "" }}
{{ $width := .Get "width" | default "" }}
{{ $height := .Get "height" | default "" }}

{{ partial "components/media/lazyimg.html" (dict 
  "src" $src 
  "alt" $alt 
  "class" $class
  "id" $id
  "width" $width
  "height" $height
) }}
