{{/* Usage: 
  {{< lazysvg src="path/to/image.svg" alt="Example Alt Text" class="example-class" width="100" height="100" id="example-id" >}} 
*/}}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $class := .Get "class" | default "" }}
{{ $width := .Get "width" | default "" }}
{{ $height := .Get "height" | default "" }}
{{ $id := .Get "id" | default "" }}

{{ partial "components/media/lazysvg.html" (dict 
  "src" $src 
  "alt" $alt 
  "class" $class
  "width" $width
  "height" $height
  "id" $id
) }}
